<div class="new-entry-container">
    <p class="journal-prompt">How do you feel?</p>
    <textarea id="journal-entry"></textarea>
    <div id="submit-row">
        <div class="emoji-container">
            <i class="emoji far fa-sad-cry"></i>
            <i class="emoji far fa-tired"></i>
            <i class="emoji far fa-meh"></i>
            <i class="emoji far fa-smile"></i>
            <i class="emoji far fa-grin-beam"></i>
        </div>
        <button type="submit" class="write-post">feelings.write()</button>
    </div>
</div>